.heading {
  gap: 0.6em;
  font-family: var(--font-mono);
  font-weight: 700;
  /* font-size: var(--small-heading1); */
  color: color-mix(in srgb, var(--color-neutral), transparent 0%);
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &::before,
  &::after {
    font-weight: 300;
    color: color-mix(in srgb, var(--color-neutral), transparent 70%);
    white-space: pre;
  }

  &::before {
    content: "/**\00000A\000020*";
  }

  &::after {
    content: "\00000A\000020*/";
  }
  /* &::before {
    width: 0.4em;
    height: 0.6em;
    content: "";
    background: var(--color-accent);
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
  } */
}
