.textLink {
  color: var(--text-link-color, --color-primary);
  transition: color 0.2s;

  & > svg {
    flex-shrink: 0;
    color: currentColor;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--color-secondary);

      > svg {
        color: currentColor;
      }
    }
  }
}
