.footer {
  margin-block-start: var(--space-lg);
  background-color: var(--color-base-100);
  border: 1px solid var(--color-base-300);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - var(--space-xs) * 2);
  max-width: var(--max-screen-width);
  padding-block: var(--space-xs);
  margin-inline: auto;
}
.copyright {
  color: color-mix(in srgb, var(--color-neutral) 40%, transparent 60%);
}

.link {
  font-family: var(--font-mono);
  font-size: var(--text-xs);
  color: color-mix(in srgb, var(--color-neutral) 50%, transparent 50%);
  transition: color 0.2s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--color-neutral);
    }
  }
}
