.footer {
  margin-block-start: var(--space-xs);
}

.copyright {
  width: calc(100% - var(--space-xs) * 2);
  max-width: var(--max-screen-width);
  padding-block-end: var(--space-xxs);
  margin-inline: auto;
  text-align: center;
}
