.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - var(--space-xs) * 2);
  max-width: var(--max-screen-width);
  margin: var(--space-xs) auto var(--space-md);
  font-family: var(--font-mono);
}
