.button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 320px);
  min-height: 64px;
  padding: 18px 24px;
  font-weight: 900;
  line-height: var(--line-height-sm);
  color: var(--color-base-content);
  background: url("/arrow-right.svg") no-repeat right 22px center / 1em;
  border: var(--border) solid var(--color-base-content);
  border-radius: var(--radius-box);
  transition:
    background-color 0.2s,
    color 0.2s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--color-base-100);
      background-color: var(--color-base-content);
    }
  }
}
