.footer {
  background: var(--color-base-300);
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - var(--space-xs) * 2);
  max-width: var(--max-screen-width);
  margin-inline: auto;
}
