.footer {
  padding-inline: var(--space-xs);
  background: var(--color-base-300);
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-screen-width);
  margin-inline: auto;
}
