.arrow {
  width: 1em;
  overflow: visible;
  color: var(--color-accent);
  transition: color 0.2s;

  @media (hover: hover) and (pointer: fine) {
    :where(a:hover) & {
      color: var(--color-secondary);
    }
  }
}

.shaft {
  transform-origin: left center;
  transform-box: fill-box;
  transition: transform 0.2s;

  @media (hover: hover) and (pointer: fine) {
    :where(a:hover) & {
      transform: scaleX(1.3);
    }
  }
}

.head {
  transition: transform 0.2s;

  @media (hover: hover) and (pointer: fine) {
    :where(a:hover) & {
      transform: translateX(calc(163px * 0.3));
    }
  }
}
