.externalLink {
  width: 0.9em;
  height: 0.9em;
  margin-inline-start: 0.2em;
  vertical-align: baseline;
  color: currentColor;
  transition: color 0.2s;

  @media (hover: hover) and (pointer: fine) {
    :where(a:hover) & {
      color: color-mix(in srgb, currentColor 50%, #fff);
    }
  }
}
