.heading {
  display: flex;
  gap: 2em;
  align-items: center;
  margin-block-end: var(--space-xs);
  font-family: var(--font-mono);
  font-size: var(--text-xs);
  color: color-mix(in srgb, var(--color-neutral) 50%, transparent);
  text-transform: uppercase;
  letter-spacing: 0.1em;

  &::after {
    display: inline-block;
    width: 15em;
    height: 1px;
    content: "";
    background-color: color-mix(in srgb, var(--color-neutral) 40%, transparent);
  }
}
